@page
@model Moview_app.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="layout">
<h1>ログイン</h1><hr />
<form method="post" class="another-page">
    <p>*は必須の項目です。</p>
    <div class="form-group">
    <label asp-for="Account.Username">ユーザー名*</label>
    <br />
    <input asp-for="Account.Username" class="form-control" placeholder="ユーザー名" />
    </div>

    <div class="form-group">
    <label asp-for="Account.Pass">パスワード*</label>
    <br />
    <input asp-for="Account.Pass" class="form-control" placeholder="パスワード" />
    </div>

    <div class="form-check">
        <input asp-for="Account.RememberMe" class="form-check-input" />
        <label asp-for="Account.RememberMe" class="form-check-label">ログイン状態を維持</label>
    </div>

    <input type="submit" value="ログイン" class="btn-large" />

    <p style="color: red;">
        @Model.ErrorMessage
    </p>
</form>
</div>
