@page
@model Moview_app.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Logout";
}


<div class="layout another-page">
<h1>ログアウト</h1>
<hr />
<form method="post">
    <input type="submit" value="ログアウト" class="btn-large" />
</form>
</div>